body {
     font-family: Verdana;
     box-sizing: border-box;
}
#navigation {
     background-color: #808080;
     color: white;
}
#headerbckgrnd{
     background-color: #1D4942;
}
#logo{
     width: 100%;
     padding: 6%;
}
.center_text {
     text-align: center;
}
.right_text {
     text-align: right;
}
#coffeecup {
     background-image: url('../images/coffee3.jpg');
     background-size: cover;
     background-position: 80% 75%;
     min-height: 450px;
     padding: 100px 30px 0 50px;
}
#slogan {
     padding-top: 10%;
     padding-bottom: 10%;
     float: right;
     /*color: white;*/
}
.steps {
     padding-top: 7.5%;
     padding-bottom: 15%;
}
#step1 {
     background-image: url(../images/coffee-bags.jpg);
}
#step2, #get_started {
     background-color: #F5DEB3;
     color: #8B4513;
     padding-left: 2em;
     padding-right: 2em;
}
#step3 {
     background-image: url(../images/coffee6.jpg);
}
#grower {
     width: 80%;
     border: 1em solid #CD853F;
     -ms-transform: rotate(-10deg);
     -webkit-transform: rotate(-10deg);
     transform: rotate(-10deg);
}

/* styling for text on main page */
ol {
     list-style-type: none;
}
ol li ul li {
     /*list-style-type: none;
     padding-bottom: 0.5em;
     text-indent: -3em;*/

     list-style-type: none;
     padding-bottom: 0.5em;
     text-indent: -2.3em;
     font-size: 1.25em;
}
#our_story {
     padding-top: 5%;
     padding-bottom: 15%;
}

#btn_get_started {
     background-color: #1D4942;
     color: white;
}

.fit-image{
     width: 100%;
}

.pkg_photo {
     border:  1.25em solid #DBD4AB;
     border-radius: .5em;
     box-shadow:3px 3px 10px 3px tan;
}

.padding_3 {
     padding: 3em;
}
.padding_login {
     padding-top: 0.25em;
     padding-bottom: 0.25em;
     padding-right: 1em;
}
.nav_text {
     color: #B6AC5C;
     /*font-weight: bold;*/
     font-size: 1.25em;
     padding-top: 0;
     padding-bottom: 0;
     font-weight: 800;
}
.nav_text:hover {
     color: peru;
}
.text_green{
     color:    #B6AC5C;
}
.text_cream{
     color:    #DBD4AC;
}
.text_rust{
     color:    #C17C08;
}
.text_italic {
     font-style: italic;
}
.text_dark_cream {
     /*color: #948f74;*/
     color: black;
}
.background_cream{
     color:    #DBD4AC;
}
.order_table{
     /*font-weight: 500;*/
     font-family: "Ubuntu Mono";
     font-size: 1.2em;
}
.background_cream{
     background-color: #DBD4AB;
}
.width_100 {
     width: 100%;
}
#reg_box{
     border:  0.5em solid #948f74;
     border-radius: .5em;
     box-shadow:5px 5px 5px #DEDEDE;
}
#how_it_works {
     color: #8B4513	;
     background-color: #dbd4ab;
}
.getting_started {
     background-color: #CD853F;
     color: white;
}
.table_border {
     border: 3px solid peru;
}
