<div class="row">
     <div class="col-sm-12">
          <h1>Please Log In To Continue...</h1>

          <form>
               <p>Username:</p>
               <input type="text" placeholder="Username" ng-model="userName">

               <p>Password:</p>
               <input type="password" name="password" ng-model="password">

               <br>
               <button ng-click = "loginUser()" class="btn succcess">Login</button>
          </form>
          <br>

          <!-- <div>
               <p ng-show="loginStatus">Login Succeeded...  Please login.{{loginStatus}}</p>
          </div>

          <div>
               <p ng-show="loginStatus === false">Login Failed...  Please try again.{{loginStatus}}</p>
          </div> -->


     </div>
</div>
