<div class="row padding_3">
     <div class="col-sm-12">
          <h3 class="text_rust">Sign Into Your Account</h3>
          <table>
               <tr>
                    <td>
                         <p class="padding_login">Username:</p>
                    </td>
                    <td>
                         <input type="text" placeholder="Username" ng-model="userName">
                    </td>
               </tr>
               <tr>
                    <td>
                         <p class="padding_login">Password:</p>
                    </td>
                    <td>
                         <input type="password" name="password" ng-model="password">
                    </td>
               </tr>
               <tr>
                    <td>
                         &nbsp;
                    </td>
                    <td>
                         <p class="right_text"><button class="btn btn-success" ng-click="loginUser()" >Login</button></p>
                    </td>
               </tr>
          </table>
     </div>
</div>
