<!-- Individual -->
<div class="row">
     <div class="col-sm-6 center_text padding_3">
          <h3 class="text_rust">Individual Package</h3>
          <img id="indiv_photo" class="fit-image pkg_photo" src="images/solo-drinker2.png" alt="">
          <div>
               <br>
               <form name="grindForm">
                    <label for="grind-type">Grind Type:</label>
                    <select name="individualPackage" ng-model="coffeeOptionIndividual">
                         <option ng-repeat="grindType in grindTypes" value="{{grindType}}">
                              {{grindType}}
                         </option>
                    </select>
                    <br>
               </form>
               <br>
               <p class="center_text">
                    <button ng-click="goDelivery('individual', coffeeOptionIndividual)" class="btn getting_started">Order</button>
               </p>
          </div>
     </div>

     <!-- Family -->
     <div class="col-sm-6 center_text padding_3">
          <h3 class="text_rust">Family Package</h3>
          <img class="fit-image pkg_photo" src="images/coffee-drinkers.jpg" alt="">
          <div>
               <br>
               <form name="grindForm">
                    <label for="grind-type">Grind Type:</label>
                    <select name="familyPackage" ng-model="coffeeOptionFamily">
                         <option ng-repeat="grindType in grindTypes" value="{{grindType}}">
                              {{grindType}}
                         </option>
                    </select>
                    <br>
               </form>
               <br>
               <p class="center_text">
                    <button ng-click="goDelivery('family', coffeeOptionFamily)" class="btn getting_started">Order</button>
               </p>
          </div>
     </div>
</div>
