<!-- Individual -->
<div class="row">
     <div class="col-sm-6 center_text">
          <h1>Individual Package</h1>
          <img class ="fit-image" src="images/solo-drinker.jpg" alt="">
          <div>
               <form name="grindForm">
                    <label for="grind-type">Grind Type:</label>
                    <select name="individualPackage" ng-model="coffeeOption">
                         <option ng-repeat="option in grindTypes" value="{{option}}">
                              {{option}}
                         </option>
                    </select>
                    <br>
               </form>

               <p class="center_text">
                    <button ng-click="goDelivery()" class="btn">Order</button>
               </p>
          </div>
     </div>

     <!-- Family -->
     <div class="col-sm-6 center_text">
          <h1>Family Package</h1>
          <img class="fit-image" src="images/coffee-drinkers.jpg" alt="">
          <div>
               <form name="grindForm">
                    <label for="grind-type">Grind Type:</label>
                    <select name="familyPackage" ng-model="coffeeOption">
                         <option ng-repeat="option in grindTypes" value="{{option}}">
                              {{option}}
                         </option>
                    </select>
                    <br>
               </form>

               <p class="center_text">
                    <button ng-click="goDelivery()" class="btn">Order</button>
               </p>
          </div>
     </div>
</div>
