<div class="row">
     <div class="col-sm-12">
          <h1>Registration:</h1>

          <form>
               <p>Username:</p>
               <input type="text" name="userName" value = "Username" ng-model="userName">

               <p>Password:</p>
               <input type="password" name="password" value="Password" ng-model="password">

               <p></p>
               <input type="password" name="confirmPassword" value= "Confirm Password" ng-model="confirmPassword">

               <p>Email</p>
               <input type="email" name="email" value= "example@email.com" ng-model="email">
               <br>
               <button ng-click = "registerUser()" class="btn succcess">Register User</button>
          </form>
          <br>

          <div>
               <p ng-show="loginStatus">Login Succeeded...  Please login here: {{loginStatus}}</p>

               <a href="/login.html" ><button ng-show="loginStatus" class="btn succcess">Login here User</button> </a>
          </div>

          <div>
               <p ng-show="loginStatus === false">Login Failed...  Please try again.{{loginStatus}}</p>
          </div>


     </div>
</div>
