<div class="row">
     <div class="col-sm-12">
          <h1>Registration:</h1>

          <form>
               <p>Username:</p>
               <input type="text" name="userName" value = "Username" ng-model="userName">

               <p>Password:</p>
               <input type="password" name="password" value="Password" ng-model="password">

               <p></p>
               <input type="password" name="confirmPassword" value= "Confirm Password" ng-model="confirmPassword">

               <p>Email</p>
               <input type="email" name="email" value= "example@email.com" ng-model="email">
               <br>
               <button ng-click = "registerUser()" class="btn succcess">Register User</button>


          </form>
          <br>

     </div>
</div>
